{% extends 'admin/adminpage.html' %}

{% block first %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    {% for student in resluts %}
    <div class="container mt-3" >
        <div class="card">
            <div class="card-header bg-">
                <h3 class="card-title ">Demo Information</h3>
            </div>
            <div class="card-body bg-info">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Name:</strong> {{ student.Name }}</p>
                        <p><strong>Email:</strong> {{ student.Email }}</p>
                        <p><strong>Mobile:</strong> {{ student.Mobile }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Gender:</strong> {{ student.gender }}</p>
                        <p><strong>Graduation:</strong> {{ student.graduation }}</p>
                        <p><strong>Course:</strong> {{ student.course.cname }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
