<!-- remove.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Student</title>
</head>
<body>
    <h1>Removed Student Details</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Graduation</th>
            <th>Course</th>
        </tr>
        <tr>
            <td>{{ student.nstdName }}</td>
            <td>{{ student.nmail }}</td>
            <td>{{ student.nmobile }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.graduation }}</td>
            <td>{{ student.course }}</td>
        </tr>
    </table>
</body>
</html>
